/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	background-color: #fff;

  margin: 2%;
  display: grid;
  grid-gap: 10px;
}
/* hack to make images flexible in our prototype */
div img {
	width: 100%;
	max-width: 250px;
}
/* grid system */
.row {
	display: flex;
	flex-flow: row wrap;
	flex: 0 1 auto;
}

.r1c1,
.r1c2,
.r1c3,
.r1c4,
.r3c1,
.r5c1,
.r5c3 {
	background-color: #ffc;
}

.r2c1,
.r2c2,
.r5c2 {
	background-color: #ccf;
}

.r3c2 {
	background-color: #fcf;
}

.r4c1 {
	background-color: #cff;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

  .wrapper {
    grid-template-colums: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
  }

  .r1c1 {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .r1c2 {
    grid-row: 1;
    grid-column: 3 / span 2;
  }

  .r1c3 {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .r1c4 {
    grid-row: 2;
    grid-column: 3 / span 2;
  }

  .r2c1 {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .r2c2 {
    grid-row: 3;
    grid-column: 3 / span 2;
  }

  .r3c1 {
    grid-row: 4;
    grid-column: 1 / span 4;
  }

  .r3c2 {
    grid-row: 5;
    grid-column: 1 / span 4;
  }

  .r4c1 {
    grid-row: 6;
    grid-column: 1 / span 4;
  }

  .r5c1 {
    grid-row: 8;
    grid-column: 1 / span 2;
  }

  .r5c2 {
    grid-row: 7;
    grid-column: 1 / span 4;
  }

  .r5c3 {
    grid-row: 8;
    grid-column: 3 / span 2;
  }

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

  .wrapper {
    grid-template-colums: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  .r1c1 {
    grid-row: 1;
    grid-column: 1 / 2;
  }

  .r1c2 {
    grid-row: 1;
    grid-column: 2 / 3;
  }

  .r1c3 {
    grid-row: 1;
    grid-column: 3 / 4;
  }

  .r1c4 {
    grid-row: 1;
    grid-column: 4 / 5;
  }

  .r2c1 {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .r2c2 {
    grid-row: 2;
    grid-column: 3 / span 2;
  }

  .r3c1 {
    grid-row: 3;
    grid-column: 1 / 2;
  }

  .r3c2 {
    grid-row: 3;
    grid-column: 2 / span 3;
  }

  .r4c1 {
    grid-row: 4;
    grid-column: 1 / span 4;
  }

  .r5c1 {
    grid-row: 5;
    grid-column: 1 / 2;
  }

  .r5c2 {
    grid-row: 5;
    grid-column: 2 / span 2;
  }

  .r5c3 {
    grid-row: 5;
    grid-column: 4 / 5;
  }
}
